body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #edbeeb;
    color: #333;
  }
  
  header, nav, footer {
    background: #610c70;
    color: rgb(253, 248, 253);
    padding: 1rem;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .card {
    background: rgb(245, 224, 241);
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  